@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
    --primary-color:#212a37;
    --primary-color-dark: #334055;
    --secondary-color: #f1f5f9;
    --text-dark: #1f2937;
    --text-light: #767268;
    --extra-light: #ffffff;
    --max-width: 1200px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  background: #ffffff;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
    align-self: center;
}

.section_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.section_title{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--text-dark);
}
.section_subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-light);
}
.btn{
    background-color: var(--primary-color);
    color: var(--extra-light);
    padding: 0.75rem 2rem;
    border-radius: 4.5rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.btn:hover {
  background-color: var(--primary-color-dark);
}

a{
    text-decoration: none;
    color: var(--text-dark);

}
a:hover{
    color: #393939
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

nav {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
}
nav .logo span {
  color: var(--primary-color);
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  list-style: none;
}

header {
  background-color: var(--secondary-color);
}
.header_container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}
.header_image {
  position: relative;
}
.header_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0.5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.header_image img:nth-child(1) {
  max-width: 320px;
  transform: translate(-75%, -50%);
}

.header_image img:nth-child(2) {
  max-width: 250px;
  transform: translate(0%, -28%);
}
.header_image img:nth-child(3) {
  max-width: 180px;
  transform: translate(110%,20%);
}
.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_content > div {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

.header_content .sub_header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header_content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-dark);
  margin-bottom: 1rem;
}
.header_content p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-light);
  margin-bottom: 2rem;
  max-width: 80%;
}
.header_content .btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.destination_nav {
  display: flex;
  gap: 1rem;
}

.destination_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.destination_card {
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}

.destination_card img {
  border-radius: 1rem;
}

.destination_details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}
.destination_card:hover .destination_details {
  bottom: 1rem;
}

.destination_title {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.destination_subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.trip {
  background-color: var(--secondary-color);
}

.trip_container :is(.section_title, .section_subtitle, .view_all) {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.trip_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.trip_card {
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.trip_details {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  cursor: pointer;
}

.rating {
  color: goldenrod;
}

.booking_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price span {
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--text-light);
}

.book_now {
  padding: 0.5rem 1.5rem;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.book_now:hover {
  color: var(--extra-light);
  background-color: var(--primary-color);
}

.gallery_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.image_gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.gallery_col {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.gallery_col img {
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.gallery_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery_content > div {
  max-width: 400px;
}

.gallery_content .section_subtitle {
  margin-bottom: 2rem;
}

.subscribe {
  background-color: var(--secondary-color);
}

.subscribe_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.subscribe_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe_form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  background-color: var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.subscribe_form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
}

.footer {
  background-color: var(--text-dark);
}

.footer_container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  color: var(--secondary-color);
}

.footer_col h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer_col h3 span {
  color: var(--primary-color);
}

.footer_col p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.footer_col p:hover {
  color: #767268;
}

.footer_col p span {
  font-weight: 600;
}

.footer_col h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer_bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--text-light);
}

